extends layout

block content
  - let url = '/about';
  include includes/header.pug
  .mb-5
  main.container-fluid.pt-5(role='main')
    h3.text-center.mb-5 Ласкаво просимо в клініку
      small.text-muted.pl-1 «Центр сімейної медицини»
    .container
      p.text-justify.mb-2 Добре медичне обслуговування передбачає 3 головних компонента: «Актуальність. Якість. Потенціал». Центр сімейної медицини здійснює консультативну та лікувальну допомогу з найактуальніших напрямків сучасної медицини - сімейній медицини, терапії, педіатрії, гінекології, урології, отоларингології (лор-захворюванням), хірургії (включаючи патологію молочної залози і проктологічну), кардіології, ендокринології, дерматології, гастроентерології, алергології, вірусології та гепатології.
      p.text-justify.mb-2 Традицією центру, яка закладена її засновниками, стало поєднання діагностики, профілактики та лікування в одному медичному закладі.
      p.text-justify.mb-2 Центр сімейної медицини заснований в 2005 році на базі діагностичної лабораторії «Український лікувально-діагностичний центр» (УЛДЦ), яка свого часу була піонером сучасної вірусологічної діагностики в Україні. Різнобічний спектр лабораторних аналізів європейського рівня включає більше 800 досліджень у власній сертифікованій лабораторії (ISO 9001:2008) і здійснюється в найкоротші терміни без доплати за терміновість.
      p.text-justify.mb-2 20 років роботи на ринку лабораторних послуг, використання тест-систем та реактивів надійних виробників, а також сучасна апаратура і висококваліфікований персонал гарантують достовірність результатів. Отримати результати досліджень пацієнт може будь-яким зручним для нього способом: on-line через інтернет, на e-mail, факсом, в будь-якому пункті забору біологічного матеріалу УЛДЦ. За показами або побажанням пацієнтів «на місці» проводяться електрокардіографічне і ультразвукові дослідження різних органів на апараті преміум-класу «Aloka-3500» (Японія).
      p.text-center.mb-2 
        |
        strong Профіль лабораторних досліджень
      ul
        li бактеріологія;
        li біохімічні дослідження крові;
        li аналізи крові і сечі;
        li генетичні дослідження (включаючи визначення батьківства, системних та спадкових хвороб, поліморфізм гена інтерлейкіну 28в та інші);
        li дослідження гормонів щитовидної і паращитовидної залоз, наднирників, підшлункової залози та інших;
        li імунологія (імунологічні тести та аутоімунні антитіла);
        li алергологія (включаючи тести на 61 алерген);
        li численні маркери інфекційних хвороб визначаються за допомогою серологічної діагностики та полімеразної ланцюгової реакції в режимі "Real time" (вірусних гепатитів, герпесвірусних інфекцій, токсоплазмозу, бореліозу, урогенітальних та інших інфекцій); визначення вмісту лікарських і наркотичних речовин;
        li маркери онкологічної патології;
        li паразитології;
        li копрологія (дослідження аналізів калу на дисбактеріоз, копрограми і т.п.);
        li дослідження репродуктивної функції та статевих гормонів.
      p.text-center.mb-2 
        |
        |
        strong Профіль консультативної та лікувальної допомоги Центру сімейної медицини УЛДЦ:
      ul
        li терапія та сімейна медицина;
        li педіатрія;
        li гінекологія;
        li урологія;
        li отоларингологія;
        li хірургія (включаючи патологію молочної залози);
        li проктология;
        li кардіологія;
        li ендокринологія;
        li дерматологія;
        li гастроентерологія;
        li алергологія;
        li вірусологія;
        li гепатологія;
        li гомеопатія.
