extends layout

block content
  - let url = '/';
  include includes/header.pug
  .mb-5
  .mb-5
  .mb-5
  main(role='main')
    .jumbotron.main_container
      .container
        h1.display-3 Центр сімейної медицини
        p
          | Центр сімейної медицини здійснює консультативну та лікувальну допомогу з найактуальніших напрямків сучасної медицини - сімейній медицині, терапії, педіатрії, гінекології, урології, отоларингології (лор-захворюванням), хірургії (включаючи патологію молочної залози і проктологічну), кардіології, ендокринології, дерматології, гастроентерології, алергології, вірусології та гепатології.
        p
          a.btn.btn-primary.btn-lg(href='/about', role='button') Наша історія »
    .container
      .row
        .col-md-4
          h2 Найкраще обладнання
          p
            | Наша клініка забезпечена всім необхідним обладнанням для здійснення лабораторних досліджень та діагностик, а саме:

          ul
            li Multix Swing “Siemens” для проведення рентгенологічних досліджень
            li Siemens Acuson 300 – прилад для проведення ультразвукової діагностики
            li Електрокардіографія At101 (12-канальний)
            li OLYMPUS GIF-E – для проведення діагностичних процедур: фіброгастроскопії, ендоскопії, колоноскопії

          p
            a.btn.btn-secondary(href='/about', role='button') Детальніше »
        .col-md-4
          h2 Лікарський склад
          p
            | У Клініці сімейної медицини працюють одні з найкращих спеціалістів у сфері гастроентерології, фізіотерапевти, акушер - гінекологи, хірурги, проктологи, кардіологи, дерматовенерологи, ортопед-травматологи, офтальмологи, педіатри, отоларингологи, урологи, фахівці з ультразвукової діагностики та інші.
          p
            a.btn.btn-secondary(href='/staff', role='button') Детальніше »
        .col-md-4
          h2 Відгуки
          p
            | Вибір лікарні - це дуже важливе питання. Ми про себе розказати можемо дуже багато, та наші клієнти скажуть тільки те, що думають насправді. Сподіваємося, їх відгуки допоможуть Вам зробити зважений і правильний вибір.
          p
            a.btn.btn-secondary(href='/feedback', role='button') Детальніше »
      hr

  footer.container
    p © Центр сімейної медицини 2022
