extends layout
include mixins/_doctorCard

block content
  - const url = '/staff';
  include includes/header.pug
  .mb-5
  main.container-fluid.pt-5(role='main')
    h3.text-center.mb-5 Наші лікарі
    .container
      .d-flex.flex-column.align-items-center
        each doctor in doctors
          +doctorCard(doctor)
